@media (max-width: 768px) {

  .container {
    max-width: 100%;
    margin: 0;
    gap: 40px;
    border: none;
    position: relative;
  }

  .landingPage {
    margin-top: 20px;
    gap: 40px;
  }

  .navBar {
    padding: 0 10px;
    height: auto;
  }

  .links {
    display: none;
  }
 

/* -------------- */
.sideLinks {
  box-shadow: 0px 2px 5px gray;
  background-color: yellow;
  position: absolute;
  top:50px;
  right: 10px;
  z-index: 10;
  flex-flow: column;
  gap:5px;
  background-color: var(--gray);
  padding:5px;
}

.sideLinks ul {
  list-style: none;
}
.sideLinks li {
  text-align: center;
  padding: 5px 10px;
}
.sideLinks a {
  display: block;
  text-decoration: none;
  color:black;
  cursor: pointer;
  width: 100%;
}

  /* -------------- */
  .menu {
    display: flex;
    align-items: center;
  }

  #navBarLogo {
    height: auto;
  }

  .header {
    flex-flow: column;
    height: auto;
    padding: 0 20px;
    gap: 40px;
  }

  .header .head {
   margin-bottom: 40px;
   order: 1;
  }
  .header .description {
    width: 100%;
    height: auto;
    order:3;
  }

  .header button {
    width: 100%;
    order: 4;
  }


  .header img {
    width: 100%;
    height: auto;
    order: 2;
  }

  .logoTypes {
    min-width: 450px;
    flex-wrap: wrap;
    height: auto;
    padding: 0px;
    gap: 20px;
    justify-content: center;
  }

  .subHeading {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: auto;
    text-align: center;
  }


  .subHeading p {
    width: 100%;
    height: auto;
  }
 
  /* ------start------- */

  .serviceBlock {
    flex-flow:column;
    justify-content: center;
  }

  .card_three {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    padding:50px;
    gap:20px;
    text-align: center;

  }
  .card_three .head {
    font-size: 26px;
  }
.card_three p {
  font-size: 16px;
  line-height: 24px;
}
  .card_three button {
    width: 290px;
    height: 68px;
    padding:20px 35px;
    border-radius: 14px;
    font-size: 20px;
    line-height: 28px;
    background-color:#191A23 ;
    color:white;
  }
  .card_one {
    display: none;
  }
  .learnMore {
    display: none;
  }

  .Second-subHeading {
    flex-direction: column;
    padding: 0 20px;
  }

  .Second-subHeading .text 
  {
    text-align: center;
  }

  .dropDown-container {
    width: 100%;
    border: none;
  }

  .dropDown {
    width: 100%;
    height: auto;
    padding: 30px 20px;
  }

  .front,
  .down {
    width: 100%;
    height: auto;
  }

  .formSection {
    width: 100%;
    height: auto;
    padding: 40px 20px;
    flex-direction: column;
    background-image: none;
  }

  .form {
    width: 100%;
    height: auto;
  }

  .feilds {
    width: 100%;
    height: auto;
  }

  textarea {
    width: 100%;
  }

footer {
 
  padding: 30px 10px 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap:37px;
  border-radius: 0px;
}

.footer_Nav {
  flex-flow:column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.footer_Nav .footer_logos
{
 display: none;
}

.footer_links {
  text-align: center;
  padding:25px 0px;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}

.footer_links a
{
  text-decoration: none;
  padding:15px;
  display: block;
}
/* ----------- */
 .footer_column {
  /* border: 1px solid lime; */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.footer_contactus {
  text-align: center;
  align-items: center;
  gap:15px;
}
.footer_subscription {
  justify-content: center;
  align-items: center;
  gap:22px;
  padding: 30px ;
  border-radius:14px;
  max-width: 635px;
  width:390px;
}

.footer_logos {
  width: 130px;
  height: 30px;
  display: flex;
  gap:20px;
  align-items: center;
}

.footer_privacy 
{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:white;
  font-size: 16px;
  line-height: 24px;
  padding:5px 0px;
}
}
    
@media  (max-width:865px) {
  .footer_Nav .footer_logos 
  {
    display: none;
  }
  .footer_logos {
    display: flex;
    justify-content: flex-start;
    gap:10px;
    margin:10px 0px;
  }
  
}