
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "space";
  src: url('Assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

:root {
  --green: #b9ff66;
  --gray: #f3f3f3;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-flow: column;
}
.center {
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  display: flex;
  flex-flow: column;
  gap: 70px;
  margin: 10px auto;
  font-family: "space";
  position: relative;
}



.navBar {
  width: 100%;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

#navBarLogo {
  max-height: 50px;
}
.links {
  height: 68px;
  align-items: center;
}

.links ul {
  list-style-type: none;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400px;
  color: black;
}

.links #withBorder{
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 14px;
}
.menu 
{
    display: none;
    background:none;
    border: none;
    cursor: pointer;
}

.show {
  display: none;
}

.landingPage {
  margin-top: 70px;
  display: flex;
  flex-flow: column;
  gap: 70px;

}

/* --------------- */

.header {
  /* border: 1px solid red; */
  display: flex;
  flex-flow:column;
  justify-content: space-between;
  padding: 0px 100px;
  flex-wrap: wrap;
  gap:35px;
  height: 515px;
}

.header .head {
  width: 100%;
  max-width: 600px;
  height: auto;
  font-weight: 500px;
  font-size: 30px;
}
 .header .description {
  width: 498px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400px;
} 

 .header button {
  width: 264px;
  height: 68px;
  border-radius: 14px;
  background-color: #191a23;
  color: white;
  font-size: 20px;
}

.header img {
  width: 100%;
  max-width: 600px;
  height: auto;
} 

/* -------------------------- */

.logoTypes {
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 0px 100px;
}

.logoTypes img {
  width: 124px;
  height: auto;
}

.black {
 
    filter: grayscale(100%) contrast(200%);
}

/* ----------------------- */

.subHeading {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.subHeading .head {
  text-align: center;
  background: var(--green);
  padding: 7px;
  border-radius: 10px;
  width: 178px;
  height: 51px;
  justify-content: center;
  align-items: center;
}
.subHeading .head h2 {
  font-weight: 500px;
  font-size: 30px;
}

.subHeading p {
  font-size: 18px;
  line-height: 28px;
  max-width: 580px;
}

/* -------------------- */

/* .serviceBlock {
  border: 1px solid red;
  padding: 0px 100px;
  flex-wrap: wrap;
  gap: 40px;
}

.serviceBlock .cards {
  flex: 1 1 600px;
  min-width: 250px;
  height: 310px;
  border-radius: 45px;
  border: 1px solid black;
  justify-content: space-between;
  padding: 50px;
  box-shadow: 0px 5px 0px black;
}

.cardOne {
  background-color: var(--gray);
}
.cardTwo {
  background-color: var(--green);
}

.card-head-link {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 224px;
  height: 210px;
}

.card-head-link .head {
  width: 221px;
  height: 76px;
  font-size: 30px;
  font-weight: 500px;
}

.cardOne .head h4 {
  background-color: var(--green);
  padding: 0px 7px;
  border-radius: 7px;
}
.cardTwo .head h4 {
  background-color: white;
}

.lessWidth {
  width: 197px;
}

.card-head-link .link {
  gap: 15px;
  align-items: center;
}
.link .arrow {
  background: black;
  width: 41px;
  height: 41px;
  border-radius: 25px;
}

.link .arrow img {
  width: 32px;
  padding-top: 12px;
  padding-left: 12px;
}

.more p {
  font-size: 20px;
}

.icon #cardOne-img {
  width: 210px;
  height: 170px;
} */

/* -----------NEW----- */

 .serviceBlock {
    width: 100%;
    display: flex;
    padding:0px 20px;
    /* flex-flow:column; */
    justify-content: space-between;
    align-items: center;
    gap:20px;
  }
   .card {
    width: 100%;
    max-width: 600px ;
    min-width: 390px;
    height: 310px;
    border-radius: 45px;
    padding:50px;
    display: flex;
    flex-flow:column;
    border: 1px solid black;
    box-shadow: 0px 5px 2px black;
    }

     .card_one h3 , .card_two h3
  {
    border-radius: 7px;
    font-size: 26px;
    padding:0px 7px;
    border-radius:7px;
    display: block;
    display: block;
    width: fit-content;
  }

  .Arrow {
    align-self: flex-end;
  }
   .Arrow img {
    background-color: black;
    width:41px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius:50% ;
  }
  .cardBottom {
  display: flex;
  justify-content: space-between;
 }

 .card_one {
  display: flex;
 }

  .card_one {
    background-color:#F3F3F3;
  }
  .card_one h3 {
    color:black;
    background-color:#B9FF66;
  }
  .card_two {
    background-color: #B9FF66;
  }
  .card_two  h3 {
    background-color: #F3F3F3;
  }
   .card_three{
    background-color:#F3F3F3;
  }
  .card_three {
    display: none
  }
  

/* ---------------- */

.Second-subHeading {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  gap: 20px;
  flex-wrap: wrap;
}


.Second-subHeading .head {
  background: var(--green);
  height: 51px;
  font-size: 22px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Second-subHeading .text p {
 font-size: 18px;
}

/* ------------ */

.accordion {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 41px 60px;
}

.accordion-item {
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background: var(--green);
  box-shadow: 0px 3px 0px black;

}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  cursor: pointer;
  background-color:var(--gray);
  border-bottom: 1px solid black;
  font-size: 20px;
}

.accordion-header h3 {
  font-size: 22px;
}

.accordion-header img {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 25px;
}

.accordion-content p {
  padding: 20px 0;
}

.accordion-item.active .accordion-content {
  max-height: 300px;
}


/* ----------------------- */

.formSection {
  width: 100%;
  max-width: 1240px;
  border-radius: 45px;
  padding-top: 60px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 100px;
  background: #f3f3f3;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-image: url("Assets/contactUs/contactUs-Illustration.png");
  background-repeat: no-repeat;
  background-position: 860px 50px;
  background-size: 692px 648px;
  margin: 5px auto;
}

.form {
  width: 556px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.radioButtons {
  display: flex;
  gap: 30px;
  font-size: 18px;
  margin-bottom: 25px;
  border: none;
}

input[type="radio"] {
  accent-color: var(--green);
  width: 30px;
  height: 20px;
}

.feild input, textarea {
  width: 100%;
  padding: 18px 30px;
  border-radius: 14px;
  border: 1px solid black;
  font-size: 18px;
  resize: none;
}

.sayhi,
.getaquote {
  align-items: center;
  gap: 5px;
}

.feilds 
{
    
    display: flex;
    flex-direction: column;
    gap:20px;
}

.feildButton button {
    width: 100%;
    height: 68px;
    border-radius: 14px;
    background-color: #191a23;
    color:white; 
    font-size: 20px;
}

/* -----New------------ */
footer 
{
  max-width: 1241px;
  width: 100%;
  background-color:#191A23 ;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding:55px 55px 50px;
  margin:5px auto;
  display: flex;
  flex-flow:column;
}
.footer_Nav 
{
  display: flex;
  height: 30px ;
  justify-content: space-between;
  width: 100%;
} 

.footer_links {
  list-style: none;
  display: flex;
  gap:35px;
  font-size:18px;
}

.footer_links a {
  color:white;
  font-size: 18px;
  text-decoration: underline;

}
 .footer_logos 
{
  display: none;
}
.footer_Nav .footer_logos
{
  display: flex;
  padding:0px 10px;
  gap:20px;
}

footer {
color:white
}
 .footer_column {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 5px;
  border-bottom: 1px solid grey;
}
 /* ------------------ */

.footer_contactus {
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap:5px;
  /* border: 1px solid red; */
  width: 100%;
  max-width: 332px;
  padding: 15px 10px;
}
.footer_contactus h4 {
  background-color: #b9ff66;
  width: fit-content;
  border-radius: 7px;
  padding:5px ;
  color:black;
  margin-bottom:20px;
}

.footer_contactus p {
  color:white;
  font-size: 16px;
  font-weight: 400px;
}


.footer_subscription {
  background-color: #292A32;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap:22px;
  width: 55%;
  height: 175px;
}
.footer_subscription input , .footer_subscription a 
{
  height: 66px;
  width:330px ;
  border-radius: 14px;
}
.footer_subscription input {
  padding:21px 25px;
  border: 1px solid white;
  outline: 1px solid white;
  font-size: 16px;
  line-height: 24px;
}
.footer_subscription a {
  background-color: #b9ff66;
  text-decoration: none;
  text-align: center;
  padding:20px 35px;
  color: #191A23;
  font-size: 20px;
  line-height: 28px;
}
.footer_privacy 
{
  display: flex;
  color:white;
  font-size: 16px;
  line-height: 24px;
  padding:5px 0px;
  gap:40px;
}
